html{
	background-color: #5b5b5b;

}
body{
	background-color:#153756;
	margin:auto;
	max-width: 1200px;
}
h1, h2{
	color:white;
}
label{
	color:white;
}

.rich-text{
	background-color:white;
	padding: 1rem;
	border-radius:.5rem;
}
#navigation{
	background-color:#000000;
	margin-bottom:0px;
	border:none;
	padding-top:10px;
	padding-bottom:10px;
}.nav-pills{
	display:inline-block;
}
.login-logout{
	display:inline-block;
	float: right;
	padding-top:10px;
}
.login-logout a, .login-logout p{
	color:white;
}
.inline{
	color:#337ab7;
}
.footer{
	background-color:black;
	width:100%;
	/*height:5rem;*/
}
.footer .container-fluid .row{
	color:#337ab7;
	text-align:center;
	margin-top:1rem;
}
/*h1 small{*/
    /*color:white;*/
/*}*/
.nav-tabs{
    border:0;
}
.nav-tabs li{
    background-color: #bcbcbc;

}