.quadrants{
    margin:1rem;
}
.quadrant{
	border-radius:3rem;
    min-height:20rem;
    border-bottom: 2px solid #363636;
    border-right: 2px solid #363636;
    background-color: white;
    margin:1rem;
    padding-bottom:1rem;
}
img{
    margin-bottom:2rem;
}